@page
@model SportBet.Razar.Pages.Pay.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Payment.BetCardId" class="control-label"></label>
                <select asp-for="Payment.BetCardId" class ="form-control" asp-items="ViewBag.BetCardId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Payment.Amount" class="control-label"></label>
                <input asp-for="Payment.Amount" class="form-control" />
                <span asp-validation-for="Payment.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payment.PaymentDate" class="control-label"></label>
                <input asp-for="Payment.PaymentDate" class="form-control" />
                <span asp-validation-for="Payment.PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
