@page
@model SportBet.Razar.Pages.Results.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BetResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BetResult.BetResultId" />
            <div class="form-group">
                <label asp-for="BetResult.MatchId" class="control-label"></label>
                <select asp-for="BetResult.MatchId" class="form-control" asp-items="ViewBag.MatchId"></select>
                <span asp-validation-for="BetResult.MatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BetResult.MatchSelectionId" class="control-label"></label>
                <select asp-for="BetResult.MatchSelectionId" class="form-control" asp-items="ViewBag.MatchSelectionId"></select>
                <span asp-validation-for="BetResult.MatchSelectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BetResult.MatchTypeId" class="control-label"></label>
                <select asp-for="BetResult.MatchTypeId" class="form-control" asp-items="ViewBag.MatchTypeId"></select>
                <span asp-validation-for="BetResult.MatchTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BetResult.Outcome" class="control-label"></label>
                <input asp-for="BetResult.Outcome" class="form-control" />
                <span asp-validation-for="BetResult.Outcome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BetResult.ResultDate" class="control-label"></label>
                <input asp-for="BetResult.ResultDate" class="form-control" />
                <span asp-validation-for="BetResult.ResultDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
